[submodule "submodules/LS_COLORS"]
	path = submodules/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/pyenv"]
	path = submodules/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "submodules/nodenv"]
	path = submodules/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "submodules/tfenv"]
	path = submodules/tfenv
	url = https://github.com/tfutils/tfenv.git
[submodule "submodules/jenv"]
	path = submodules/jenv
	url = https://github.com/jenv/jenv.git
[submodule "submodules/direnv"]
	path = submodules/direnv
	url = https://github.com/direnv/direnv.git
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
