[user]
  email = 20282867+yktakaha4@users.noreply.github.com
  name = Yuuki Takahashi
[alias]
  ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  i = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ;}; gi"
  a = "add ."
  b = "branch -vv"
  co = "commit -m"
  coa = "commit --amend"
  ch = "checkout"
  chr = "checkout ."
  chb = "checkout -b"
  chm = "!gchm() { git checkout \"$(git symbolic-ref refs/remotes/origin/HEAD | awk -F'[/]' '{print $NF}')\"; }; gchm"
  cfg = "config --list"
  d = "diff"
  ds = "diff --staged"
  f = "fetch -p"
  s = "status -s"
  l = "log --oneline --graph --decorate"
  lv = "log --oneline --graph --pretty=fuller"
  ps = "push origin HEAD"
  pl = "!gpl() { git pull origin \"$(git symbolic-ref --short HEAD)\"; }; gpl"
  plu = "!gplu() { git pull upstream \"$(git symbolic-ref --short HEAD)\"; }; gpl"
  mgm = "!gmgm() { git merge \"$(git symbolic-ref refs/remotes/origin/HEAD | awk -F'[/]' '{print $NF}')\"; }; gmgm"
  rbm = "!grbm() { git rebase \"$(git symbolic-ref refs/remotes/origin/HEAD | awk -F'[/]' '{print $NF}')\"; }; grbm"
  subu = "submodule update --init --recursive"
  pr = "!pr() {(gh pr create -w &) >/dev/null && echo 'open new pull request...';}; pr"
  is = "!is() {(gh issue create -w &) >/dev/null && echo 'open new issue...';}; is"
[credential "https://github.com"]
  helper = !gh auth git-credential
[core]
  longpaths = true
  excludesfile = /home/tkhs/.gitignore_global
[init]
	defaultBranch = main
[ghq]
	root = /home/tkhs/.gvm/pkgsets/go1.15.6/global/src
