[submodule "submodules/LS_COLORS"]
	path = submodules/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
[submodule "submodules/zsh-syntax-highlighting"]
	path = submodules/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/pyenv"]
	path = submodules/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "submodules/nodenv"]
	path = submodules/nodenv
	url = https://github.com/nodenv/nodenv.git
[submodule "submodules/tfenv"]
	path = submodules/tfenv
	url = https://github.com/tfutils/tfenv.git
[submodule "submodules/jenv"]
	path = submodules/jenv
	url = https://github.com/jenv/jenv.git
[submodule "submodules/direnv"]
	path = submodules/direnv
	url = https://github.com/direnv/direnv.git
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "submodules/zsh-autosuggestions"]
	path = submodules/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "submodules/wakatime-zsh-plugin"]
	path = submodules/wakatime-zsh-plugin
	url = https://github.com/sobolevn/wakatime-zsh-plugin.git
[submodule "submodules/diff2html-cli"]
	path = submodules/diff2html-cli
	url = https://github.com/rtfpessoa/diff2html-cli.git
[submodule "submodules/kube-ps1"]
	path = submodules/kube-ps1
	url = git@github.com:jonmosco/kube-ps1.git
[submodule "submodules/v4l2loopback"]
	path = submodules/v4l2loopback
	url = git@github.com:umlaeute/v4l2loopback.git
[submodule "submodules/kubectl-neat-diff"]
	path = submodules/kubectl-neat-diff
	url = git@github.com:sh0rez/kubectl-neat-diff.git
[submodule "submodules/goenv"]
	path = submodules/goenv
	url = https://github.com/go-nv/goenv.git
[submodule "submodules/rbenv"]
	path = submodules/rbenv
	url = https://github.com/rbenv/rbenv.git
