[user]
  email = 20282867+yktakaha4@users.noreply.github.com
  name = Yuuki Takahashi
[alias]
  ignore = "!gi() { curl -L -s \"https://www.gitignore.io/api/$1\" ;}; gi"
  a = "add ."
  b = "branch -vv"
  c = "!c() { cd \"$HOME/dev/repos\"; gh repo clone \"$1\" \"$1\" -- --recurse-submodules; }; c"
  co = "commit -m"
  coa = "commit --amend"
  ch = "switch"
  chr = "restore ."
  chb = "switch -c"
  chm = "!gchm() { ref=\"$(git symbolic-ref -q --short refs/remotes/origin/HEAD | awk '{gsub(/^origin\\//, \"\", $1); print $1}')\"; git switch \"${ref:-main}\"; }; gchm"
  mgm = "!gmgm() { ref=\"$(git symbolic-ref -q --short refs/remotes/origin/HEAD | awk '{gsub(/^origin\\//, \"\", $1); print $1}')\"; git merge \"${ref:-main}\"; }; gmgm"
  rbm = "!grbm() { ref=\"$(git symbolic-ref -q --short refs/remotes/origin/HEAD | awk '{gsub(/^origin\\//, \"\", $1); print $1}')\"; git rebase \"${ref:-main}\"; }; grbm"
  cfg = "config --list"
  d = "diff"
  ds = "diff --staged"
  f = "!f() { git fetch -p; git remote set-head origin --auto; }; f"
  s = "status -s"
  l = "log --oneline --graph --decorate"
  lv = "log --oneline --graph --pretty=fuller"
  ps = "push origin HEAD"
  psf = "push --force-with-lease --force-if-includes origin HEAD"
  pl = "!gpl() { git pull origin \"$(git symbolic-ref --short HEAD)\"; }; gpl"
  plu = "!gplu() { git pull upstream \"$(git symbolic-ref --short HEAD)\"; }; gpl"
  subu = "submodule update --init --recursive"
  pr = "!pr() {(gh pr create -w &) >/dev/null && echo 'open new pull request...';}; pr"
  is = "!is() {(gh issue create -w &) >/dev/null && echo 'open new issue...';}; is"
  open = "!open() {(gh repo view -w &) >/dev/null;}; open"
  rst = "reset --soft HEAD^"
  cdr = "!gcdr() { cd \"$(git rev-parse --show-superproject-working-tree --show-toplevel | head -1)\"; }; gcdr"
  search = "!gsearch() { git log -pS \"$1\"; }; gsearch"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
  longpaths = true
  fsmonitor = false
  untrackedcache = true
[init]
  defaultBranch = main
