name: Check

on: push

env:
  TZ: Asia/Tokyo
  DOTFILES_IS_CI: "1"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - run: make dev

      - run: make lint

  test:
    name: Test
    strategy:
      matrix:
        # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
        os:
        - macos-15
        - ubuntu-24.04
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - run: make dev

      - run: make test

  test-capytool:
    name: Test capytool
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: tools/capytool
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Check for capytool changes
        id: check_changes
        run: |
          if git diff --name-only HEAD~1 HEAD | grep -q '^tools/capytool/'; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          else
            echo "changed=false" >> "$GITHUB_OUTPUT"
          fi

      - uses: actions/setup-go@v5
        if: steps.check_changes.outputs.changed == 'true'
        with:
          go-version: "1.23"

      - run: go test -v -race ./...
        if: steps.check_changes.outputs.changed == 'true'

      - run: go vet ./...
        if: steps.check_changes.outputs.changed == 'true'
