name: Check

on: push

env:
  TZ: Asia/Tokyo
  DOTFILES_IS_CI: "1"
  GO_VERSION: "1.23"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - run: make dev

      - run: make lint

  test:
    name: Test
    strategy:
      matrix:
        # https://github.com/actions/runner-images?tab=readme-ov-file#available-images
        os:
        - macos-15
        - ubuntu-24.04
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - run: make dev

      - run: make test

  check-capytool:
    name: Check capytool
    runs-on: ubuntu-latest
    timeout-minutes: 10
    defaults:
      run:
        working-directory: tools/capytool
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}

      - run: make build lint test
